// color variables
$main-text-color: #000;
$white-bg: #ffffff;
$border-color: #ebebeb;
$green: #19c880;
$grey-text: #757686;
$light-grey-text: #c0c1cd;
$orange: #f3a90b;
$bg-opacity: rgba(27, 23, 23, 0.7);
$h3-title: #383749;

@mixin easeOut {
  transition: all 1s ease-out;
}
