// color variables
$main-text-color: #000;
$white-bg: #ffffff;
$border-color: #ebebeb;
$green: #19c880;
//$green: rgb(20, 142, 92);
//$bg-opacity: rgba(235, 235, 235, 0.6);
$bg-opacity: rgba(27, 23, 23, 0.5);
