@import "config";
@import "header";

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
section {
  padding: 0 15px;
}
.home-section {
  background: url(../img/bg.jpg);
  background-size: cover;
  color: $white-bg;
  .overlay {
    height: 100%;
    background: $bg-opacity;
  }
  .before-title {
    font-size: 14px;
    letter-spacing: 1;
    color: $green;
    font-weight: 500;
  }
  h1 {
    font-weight: 500;
  }
  .btn-1 {
    margin-top: 40px;
  }
}
.text {
  line-height: 1.5;
  padding: 15px 0;
}
.content {
  padding: 0 15px;
  margin-top: 70px;
}

// BUTTONS styles
.btn {
  padding: 12px 40px;
  font-size: 12px;
  border: 2px solid $green;
  color: $white-bg;
  text-transform: uppercase;
  background: transparent;
  font-weight: 700;
  &.btn3 {
    border-style: none;
    color: $green;
    padding: 12px 0;
    margin-top: 20px;
    i {
      font-size: 12px;
      margin-left: 5px;
    }
  }
}
// end of BUTTONS styles

.box {
  padding: 40px 20px;
  border-bottom: 1px solid $border-color;
  i {
    font-size: 56px;
    color: $green;
  }
  &__title {
    margin: 20px 0;
    font-weight: 500;
    font-size: 22px;
  }
  &__text {
    line-height: 1.5;
  }
}

// ABOUT section
.wrap {
  padding: 40px 20px;
  h1 {
    font-size: 32px;
    font-weight: 500;
  }
}
.stats {
  &__content {
    font-size: 60px;
    color: $green;
    margin: 30px 0;
  }
  &__smletter {
    font-size: 36px;
    text-transform: uppercase;
  }
  &__comment {
    font-size: 16px;
    text-transform: uppercase;
    color: $grey-text;
    display: block;
    font-weight: 500;
  }
}

.video-wrap {
  iframe {
    width: 100%;
  }
}

//reviews section
.icons {
  display: flex;
  div {
    width: 80px;
    height: 80px;
    img {
      border-radius: 50%;
      width: 100%;
    }
  }
}

.pagination {
  display: flex;
  margin: 20px 0;
  justify-content: center;
  &__bullet {
    width: 12px;
    height: 12px;
    border: 2px solid $grey-text;
    border-radius: 50%;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
