@import "config";
@import "nav";

* {
  margin: 0;
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
h1,
h2,
h3 {
  font-weight: 500;
}
section {
  padding: 0 15px;
  &:nth-child(odd) {
    background: #f7f7f7;
  }
}
.home-section {
  background: url(../img/bg.jpg);
  background-size: cover;
  color: $white-bg;
  .overlay {
    //min-height: 100%;
    background: $bg-opacity;
  }
  .before-title {
    font-size: 14px;
    letter-spacing: 1;
    color: $green;
    font-weight: 500;
  }
  .btn1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.text {
  line-height: 1.5;
  padding: 15px 0;
}
.content {
  padding: 0 15px;
  margin-top: 70px;
}

// BUTTONS styles
.btn {
  padding: 12px 40px;
  font-size: 12px;
  border: 2px solid $green;
  color: $white-bg;
  text-transform: uppercase;
  background: transparent;
  font-weight: 700;
  &.btn2 {
    color: $grey-text;
    display: block;
    margin: auto;
  }
  &.btn3 {
    border-style: none;
    color: $green;
    padding: 12px 0;
    margin-top: 20px;
    i {
      font-size: 12px;
      margin-left: 5px;
    }
  }
}
// end of BUTTONS styles

.box {
  padding: 40px 20px;
  border-bottom: 1px solid $border-color;
  &:last-child {
    border-bottom-style: none;
  }
  i {
    font-size: 56px;
    color: $green;
  }
  &__title {
    margin: 20px 0;
    font-weight: 500;
    font-size: 22px;
  }
  &__text {
    line-height: 1.5;
  }
}

// ABOUT section
.wrap {
  padding: 40px 20px;
  h1 {
    font-size: 32px;
  }
}
.stats {
  &__content {
    font-size: 60px;
    color: $green;
    margin: 30px 0;
  }
  &__smletter {
    font-size: 36px;
    text-transform: uppercase;
  }
  &__comment {
    font-size: 16px;
    text-transform: uppercase;
    color: $grey-text;
    display: block;
    font-weight: 500;
  }
}

.video-wrap {
  iframe {
    width: 100%;
  }
}

//reviews section
.icons {
  display: flex;
  justify-content: space-between;
  div {
    width: 80px;
    height: 80px;
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
    img {
      border-radius: 50%;
      width: 100%;
    }
  }
}

.pagination {
  display: flex;
  margin: 20px 0;
  justify-content: center;
  &__bullet {
    width: 12px;
    height: 12px;
    border: 2px solid $grey-text;
    border-radius: 50%;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      border-style: none;
      background: $green;
    }
  }
}
.comments {
  text-align: center;
  .comment {
    display: none;
    @extend .text;
    &.active {
      display: block;
    }
  }
}
// Courses section
.courses {
  &__nav {
    margin: 15px 0 40px 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  .course {
    background: $white-bg;
    border: 1px solid $border-color;
    margin-bottom: 40px;
    &__img {
      img {
        width: 100%;
      }
    }
    &__info {
      padding: 15px;
      .title {
        color: $h3-title;
        margin: 15px 0;
      }
      .author {
        margin-bottom: 20px;
        span {
          color: $light-grey-text;
          font-size: 14px;
          font-style: italic;
          font-weight: 500;
          &:first-child {
            color: $green;
          }
        }
      }
      .bottom-block {
        display: flex;
        margin-bottom: 15px;
        .votes {
          color: $orange;
          font-size: 12px;
          span,
          .not-fill {
            color: $light-grey-text;
          }
        }
        .price {
          flex: 1;
          span {
            color: $light-grey-text;
            &:first-child {
              color: $green;
              margin-right: 5px;
              font-weight: bold;
            }
            &:last-child {
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
}
